@model UCEME.Models.ClasesVista.Contacto

@{
    ViewBag.Title = "Contacto";
}

@*<h2 class="titulo">Contactar con UCEME</h2>
<br />*@

<div class="row">
    <div class="pull-left col-xs-12 col-md-6 leftspacer">
        <div class="cont">
            <div class="sombra">
                <br />
                <h3 class="pull-left col-xs-11 col-md-11 leftspacer downspacer">Para contactar con UCEME, por favor rellene el siguiente formulario:</h3>
                <br />
                <div class="pull-left col-xs-10 col-md-10 leftspacer">
                    @using (Html.BeginForm("Enviar", "Contacto"))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset>
                <legend>Contacto:</legend>

                <div class="editor-label rojito">
                    @Html.LabelFor(model => model.Nombre)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Nombre)
                </div>

                <div class="editor-label rojito">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email)
                </div>

                <div class="editor-label rojito">
                    @Html.LabelFor(model => model.Texto)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Texto, "StringLargo")
                </div>

                <div class="botones">
                    <input class="enviar" style="float: left; margin-left: 0px; width: 143px;" type="submit" value="" />
                </div>
            </fieldset>
}
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>

    <div class="pull-left col-xs-12 col-md-6 leftspacer">
        <div class="cont">
            <div class="sombra">
                <br />
                <h3 class="pull-left col-xs-11 col-md-11 leftspacer">Otras opciones de contacto:</h3>
                <br />
                <div class="pull-left col-xs-10 col-md-10 leftspacer">
                    <h3 class="rojito">Telefono de contacto:</h3>
                    <h3>@ViewBag.telefono</h3>
                    <br />
                    <h3 class="rojito">Correo Electronico:</h3>
                    <h3>@ViewBag.email</h3>
                    <br />
                    <h3 class="rojito">Redes Sociales:</h3>
                    <div style="width: 300px; height: 30px; margin-top: 15px;">
                        <div style="width: 32px; height: 32px; float: left; margin-right: 10px;">
                            <a href="@Html.Raw(ViewBag.facebook)" class="facebook" target="_blank"></a>
                        </div>
                        <div style="width: 32px; height: 32px; float: left; margin-right: 10px;">
                            <a href="@Html.Raw(ViewBag.twitter)" class="twitter" target="_blank"></a>
                        </div>
                        <div style="width: 32px; height: 32px; float: left; margin-right: 10px;">
                            <a href="@Html.Raw(ViewBag.linkedin)" class="linkedin" target="_blank"></a>
                        </div>
                        <div style="width: 32px; height: 32px; float: left; margin-right: 10px;">
                            <a href="@Html.Raw(ViewBag.instagram)" class="instagram" target="_blank"></a>
                        </div>
                    </div>
                    <br />
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <br />
        <br />
    </div>
</div>
@section scripts {
    <script src="~/Scripts/Internal/Contacto/Index.js" async></script>
}