@model Uceme.Model.Models.ClasesVista.TurnoVista

@{
    Layout = null;
    var idel = Model.IdTurno;
    var editcapa = "edit" + idel;
}
<div id="@editcapa" style="display:none;">

    @Html.HiddenFor(model => model.IdTurno)

    <div class="editor-field" style="float: left; width: 180px; height: 45px;">
        @Html.DisplayFor(model => model.Hospital)
    </div>

    <div class="editor-field" style="float: left; margin-right: 20px; width: 70px; height: 45px;">
        @Html.EditorFor(model => model.Dia, "IntDia")
    </div>

    <div class="editor-field" style="float: left; margin-right: 20px; width: 120px; height: 45px;">
        @Html.EditorFor(model => model.Strinicio, "StringMin")
    </div>

    <div class="editor-field" style="float: left; margin-right: 20px; width: 120px; height: 45px;">
        @Html.EditorFor(model => model.Strfin, "StringMin")
    </div>

    <div class="editor-field" style="float: left; margin-right: 20px; width: 120px; height: 45px;">
        @Html.EditorFor(model => model.Paralelas, "IntCorto")
    </div>

    <div class="editor-field" style="float: left; width: 120px; height: 45px;">
        @Html.EditorFor(model => model.Porhora, "IntCorto")
    </div>

    <div class="iconos" style="float:left; height:42px; width:100px; margin-left:15px; text-align:center; align-items:center;">
        <input type="button" style="float:left; width:32px; height:32px;"  onclick="turno.editadoItem(@idel)" class="aceptarico" />
    	<input type="button" style="float:left; width:32px; height:32px;"  onclick="turno.cancel(@idel)" class="cancelarico" />
    </div>

    <div style="clear: both;"></div>
</div>