@model Uceme.Model.Models.Usuario

@{
    ViewBag.Title = "PasswordRecovery";
}

<h2 class="titulo">PasswordRecovery</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Introduce tu email</legend>

        @*Error en el email enviado, solo se muestra si ha habido error...*@
        @if (@ViewBag.error == "error")
        {
            <div style="float: left; width: 60%">
                Error en el email
            </div>
            <div class="clearboth"></div>
        }

        <div class="editor-label">
            @Html.Label("Introduce tu email")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.login)
            @Html.ValidationMessageFor(model => model.login)
        </div>

        <p>
            <input type="submit" value="Enviar" />
        </p>
    </fieldset>
}