@model IEnumerable<UCEME.Models.ClasesVista.TurnoVista>

@{
    ViewBag.Title = "Gestion de turnos";
    var n = 0;
}

<h2 class="titulo">Gestion de turnos</h2>
<br />

<div id="nuevoitembutton">
    <div class="botones" style="float: right;">
        <input type="button" class="nuevo" name="addSer" onclick="turno.muestraNuevo()" />
    </div>
</div>
<br />
<br />
<div id="cabecera">
    <div class="display-label" style="float: left; width: 230px; height: 45px; font-weight: bold;padding-left:20px;">
        @Html.DisplayNameFor(model => model.Hospital)
    </div>
    <div class="display-label" style="float: left; margin-right: 20px; width: 70px; height: 45px; font-weight: bold;">
        @Html.DisplayNameFor(model => model.Dia)
    </div>
    <div class="display-label" style="float: left; margin-right: 20px; width: 120px; height: 45px; font-weight: bold;">
        @Html.DisplayNameFor(model => model.Inicio)
    </div>
    <div class="display-label" style="float: left; margin-right: 20px; width: 120px; height: 45px; font-weight: bold;">
        @Html.DisplayNameFor(model => model.Fin)
    </div>
    <div class="display-label" style="float: left; margin-right: 20px; width: 70px; height: 45px; font-weight: bold;">
        @Html.DisplayNameFor(model => model.Paralelas)
    </div>
    <div class="display-label" style="float: left; width: 80px; height: 45px; font-weight: bold;">
        @Html.DisplayNameFor(model => model.Porhora)
    </div>

    <div class="clearboth"></div>
</div>
<div id="nuevo" style="display: none; background-color: #cfcfcf;">
    @using (Html.BeginForm("NewItem", "Turnos", FormMethod.Post))
    {
        <div class="editor-field" style="float: left; width: 180px; height: 125px;" id="hospinuevo">
            @Html.DropDownList("idHospital", (IEnumerable<SelectListItem>)ViewBag.idHospital, new { style = "width: 178px; text" })
        </div>

        <div class="editor-field" style="float: left; margin-right: 20px; width: 70px; height: 45px;" id="diasnuevos">
            <input type="checkbox" name="1" id="1" class="css-checkbox" />
            <label for="1" class="css-label">L</label>

            <input type="checkbox" name="2" id="2" class="css-checkbox" />
            <label for="2" class="css-label">M </label>
            <input type="checkbox" name="3" id="3" class="css-checkbox" />
            <label for="3" class="css-label">X</label>
            <input type="checkbox" name="4" id="4" class="css-checkbox" />
            <label for="4" class="css-label">J</label>
            <input type="checkbox" name="5" id="5" class="css-checkbox" />
            <label for="5" class="css-label">V</label>
            <input type="checkbox" name="6" id="6" class="css-checkbox" />
            <label for="6" class="css-label">S</label>
            <input type="checkbox" name="7" id="7" class="css-checkbox" />
            <label for="7" class="css-label">D</label>
        </div>

        <div class="editor-field" style="float: left; margin-right: 20px; width: 120px; height: 45px;" id="inicionuevo">
            @Html.Editor("inicio", "StringMin")
        </div>

        <div class="editor-field" style="float: left; margin-right: 20px; width: 120px; height: 45px;" id="finnuevo">
            @Html.Editor("fin", "StringMin")
        </div>

        <div class="editor-field" style="float: left; margin-right: 20px; width: 120px; height: 45px;" id="paranuevo">
            @Html.Editor("paralelas", "IntCorto")
        </div>

        <div class="editor-field" style="float: left; width: 120px; height: 45px;" id="porhnuevo">
            @Html.Editor("porhora", "IntCorto")
        </div>

        <div class="iconos" style="float: left; height: 32px; margin-left: 15px; text-align: center; align-items: center;">
            <input type="submit" style="float:left; width:32px; height:32px;border:none;" class="aceptarico" value="" />
            <input type="button" style="float:left; width:32px; height:32px;border:none;" onclick="turno.cancelNuevo()" class="cancelarico" />
        </div>

        <div class="clearboth"></div>

    }
</div>
@foreach (var item in Model)
{
    if (n > 0 && n % 2 != 0)
    {
        <div style="background-color: #cfcfcf;">
            @Html.DisplayFor(modelItem => item)
            @Html.EditorFor(modelItem => item)
        </div>
    }
    else
    {
        <div style="background-color: azure;">
            @Html.DisplayFor(modelItem => item)
            @Html.EditorFor(modelItem => item)
        </div>
    }
    n++;

}

@section scripts {
    <script src="~/Scripts/Internal/Turnos/Index.js"async></script>
}