@model Uceme.Model.Models.Termino

@{
    Layout = null;
}
            @Html.HiddenFor(model => model.idTermino)

        <div class="display-label">
            <strong>@Html.DisplayFor(model => model.nombre)</strong>
        </div>

        <div class="display-field">
            @Html.Raw(Model.texto)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.link)
        </div>
      @if (Request.IsAuthenticated) {
                            <div class="botones" style="float:left;margin:15px;">
                                <input type="button" name="editTer"  class="editar" style="float:left;" value=" " onclick="editarTermino(@Model.idTermino)" />
                                <input type="button" name="deleteTer" class="eliminar" style="float:left;" value=" " onclick="eliminarTermino(@Model.idTermino)" />
                            </div>
                        }