@model Uceme.Model.Models.PaginaAmiga

@{
    ViewBag.Title = "PaginaAmiga";
    var id = Model.idPagina;

    var imagen = "nada";
    if (Model.icono != null)
    {
        var srt = Model.icono;
        imagen = Url.Content(srt);
    }
}

<div id="@Model.idPagina" class="paginaamiga">
    <a href="@Html.Raw(Model.link)" target="_blank">

        <img src="@imagen" style="float:left; margin-right:10px; height:80px; text-decoration:none;" alt="imagen" />

        <div class="display-field" style="float: left; margin-right: 20px; height: 80px;font-weight: bold;font-size:x-large;">
            @Html.DisplayFor(model => model.nombre)
        </div>

        <div class="display-field" style="float: left; margin-right: 10px; width: 80%;padding: 20px;">
            @Html.DisplayFor(model => model.descripcion)
        </div>
    </a>
    <br />
</div>
 @if (Request.IsAuthenticated)
        {
            <div class="botones" style="width: 350px;">
                <input type="button" style="float:left;margin-left:0;" name="editar" id="editar" class="editar" onclick="paginaAmiga.editarItem(@id)" value=" " />
                <input type="button" style="float:left;margin-left:10px;" id="@id" onclick="paginaAmiga.borrarItem(@id)" class="eliminar" value=" " />
            </div>
        }
 <div style="clear: both;"></div>