@model Uceme.Model.Models.ClasesVista.ServicioVista

@{
    ViewBag.Title = "Editar Servicio";
    var imagen = "nada";
    if (Model.Foto != null)
    {
        var srt = Model.Foto;
        imagen = Url.Content(srt);
    }
}

<h2 class="titulo">Editar Servicio</h2>

@using (Html.BeginForm("EditarServicio", "Servicios", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.IdServicio)
    <div class="editor-label">
        @Html.Label("Fotografia: (preferentemente jpg de 200x150)")
        <img src="@imagen" alt="Logo" height="150" width="200" />
        <br />
        Subir nueva imagen:<br />
        <input type="file" name="fichero" id="fichero" />
        <br />
        @Html.ValidationMessageFor(model => model.Foto)
    </div>

    <div class="editor-field">
        @Html.EditorFor(model => model.Nombre)
        @Html.ValidationMessageFor(model => model.Nombre)
    </div>
    <br />

    @Html.Label("Cabecera:")
    @Html.EditorFor(model => model.Cabecera)
    <br />

    @Html.Label("Leer mas:")
    @Html.EditorFor(model => model.Text)

    <div class="botones" style="width: 350px;">
        <input class="aceptar" style="float: left; margin-left: 0;" type="submit" value=" " />
        <input class="cancelar" style="float: left; margin-left: 10px;" type="button" onclick="refrescar('Servicios')" value=" " />
    </div>
    <br />
}
