@model Uceme.Model.Models.ClasesVista.CitaVista

@{
    ViewBag.Title = "Nueva Cita";
}

@Scripts.RenderFormat("<script src='{0}' ></script>", "~/bundles/jqueryui")

@Styles.Render("~/Content/jqueryui")

<h2 class="titulo">Sistema cita previa online</h2>
<br />
<div class="row articulobox">
    <div class="col-xs-12 col-md-12" style="text-align:center;">
        <div class="cont" style="width: 80%; display: inline-block">
            <div class="sombra">
                @using (Html.BeginForm("NuevaCita", "Citas", FormMethod.Post))
                {
                    <div class="row topspacer">
                        <div class="pull-left col-xs-12 col-md-8 leftspacer">
                            <div id="divHospital" style="height: 70px;">
                                <div class="editor-label pull-left col-xs-2 col-md-2 downspacer" style="height: 70px;">
                                    <img src="~/Images/orderedList1.png" />
                                </div>
                                <div class="editor-field pull-left col-xs-10 col-md-10 downspacer" id="hospinuevo">
                                    <label>Seleccione hospital:</label>
                                    <div class="dropdown" id="dropdownHospital" style="display: inline; padding-left:10px;">
                                        <button style="min-width:200px; text-align:left" class="btn btn-default dropdown-toggle" type="button" id="comboHospitales" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span id="selectedHospital">
                                                Seleccione
                                            </span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="comboHospitales">
                                            @foreach (var hospital in ViewBag.listaHospitales)
                                            {
                                                <li><a href="#" data-value="@hospital.IdDatosPro">@hospital.Nombre</a></li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="oculto" id="divdias" style="height: 70px;">
                                <div class="editor-label pull-left col-xs-2 col-md-2 downspacer">
                                    <img src="~/Images/orderedList2.png" />
                                </div>
                                <div class="editor-field pull-left col-xs-10 col-md-10 downspacer" id="datepic">
                                    <label>Seleccione dia:</label>
                                    <input id="datepick" type="text" style="width: 150px; padding-left:10px;" />
                                </div>
                            </div>
                            <br />
                            <div class="oculto" id="divhoras" style="height: 70px;">
                                <div class="editor-label pull-left col-xs-2 col-md-2 downspacer">
                                    <img src="~/Images/orderedList3.png" />
                                </div>
                                <div class="editor-field pull-left col-xs-10 col-md-10 downspacer" id="hora">
                                    <label>Seleccione hora:</label>
                                    <div class="dropdown" id="dropdownHoras" style="display: inline; padding-left:10px;">
                                        <button style="min-width:200px; text-align:left" class="btn btn-default dropdown-toggle" type="button" id="comboHoras" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <span id="selectedHora">
                                                Seleccione
                                            </span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="comboHoras" id="comboHorasList"></ul>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="oculto" id="divdatos">
                                <div class="editor-label pull-left col-xs-2 col-md-2 downspacer">
                                    <img src="~/Images/orderedList4.png" />
                                </div>
                                <div class="editor-field pull-left col-xs-10 col-md-10 downspacer">
                                    <label>Introduzca sus datos:</label>
                                    <br />
                                    <div class="editor-label">
                                        <label>Nombre (requerido)</label>
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.Nombre)
                                    </div>

                                    <div class="editor-label">
                                        <label>Email (requerido)</label>
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.Email)
                                    </div>

                                    <div class="editor-label">
                                        <label>Telefono (requerido)</label>
                                    </div>
                                    <div class="editor-field">
                                        @Html.EditorFor(model => model.Telefono)
                                    </div>

                                    <div class="editor-label">
                                        <label>Observaciones</label>
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextArea("observaciones")
                                    </div>
                                </div>
                            </div>
                            <br />

                            <div class="oculto" id="divEnviar">
                                <div class="editor-label pull-left col-xs-2 col-md-2 downspacer">
                                    <img src="~/Images/orderedList5.png" />
                                </div>
                                <div>
                                    <input class="form-check-input" type="checkbox" value="" id="termsAndCondCheck" style="display:inline;">
                                    Acepto la <span style="color: #72beb1; font-size:1em; font-weight:normal !important;cursor: pointer" data-toggle="modal" data-target="#termsAndCondModal">clausula de proteccion de datos</span>

                                    <div class="modal fade" id="termsAndCondModal" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalLongTitle">Proteccion de datos</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <div style="float: left; margin: 15px; text-align: justify;">
                                                        De conformidad con lo establecido en el Art. 5 de la Ley Orgánica 15/1999 de diciembre de Protección de Datos de Carácter Personal, por el que se regula el derecho de información en la recogida de datos le informamos de los siguientes extremos:
                                                        <br />
                                                        -      Los datos de carácter personal que nos ha suministrado en esta y otras comunicaciones mantenidas con usted serán objeto de tratamiento en los ficheros responsabilidad de UCEME.
                                                        <br />
                                                        -      La finalidad del tratamiento es la de gestionar de forma adecuada la prestación del servicio que nos ha requerido. Asimismo estos datos no serán cedidos a terceros, salvo las cesiones legalmente permitidas.
                                                        <br />
                                                        -      Los datos solicitados a través de esta y otras comunicaciones son de suministro obligatorio para la prestación del servicio. Estos son adecuados, pertinentes y no excesivos.
                                                        <br />
                                                        -      Su negativa a suministrar los datos solicitados implica la imposibilidad prestarle el servicio.
                                                        <br />
                                                        -      Asimismo, le informamos de la posibilidad de ejercitar los correspondiente derechos de acceso, rectificación, cancelación y oposición de conformidad con lo establecido en la Ley 15/1999 ante UCEME como responsables del fichero. Los derechos mencionados los puede ejercitar a través de los siguientes medios: admin@uceme.es
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="editor-field pull-left col-xs-10 col-md-10 downspacer">
                                    <div class="botones" style="width: 350px;">
                                        <input id="botonEnviar" class="enviar" style="float: left; margin-left: 0; width: 143px;" type="button" value=" " />
                                    </div>
                                </div>
                                <div class="clearboth"></div>
                            </div>
                        </div>
                        <div class="pull-left hidden-xs hidden-sm hidden-ms col-md-3" style="height: 630px;background-image: url('../images/cita-previa-sidebar.png')">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Internal/Citas/Index.js" async></script>
}