@model UCEME.Models.ClasesVista.BlogVista

@{
    ViewBag.Title = "Anadir";
}

@using (Html.BeginForm("Anadir", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <h3 style="text-align: center;">Título: @Html.TextBoxFor(model => model.Titulo)</h3>
    <h5>Imagen:</h5>
    <img src="@Html.DisplayFor(model => model.Foto)" style="margin-right:10px;" width="200" height="200" />
    <input type="file" id="fichero" name="fichero" title="Cambiar Foto" style="width: 625px;" />
    <h5>Texto:</h5>
    @Html.EditorFor(model => model.Texto)

<div class="editor-field pull-left col-xs-10 col-md-10 downspacer" id="datepic">
    <label>Seleccione dia de publicación:</label>
    @Html.EditorFor(model => model.Fecha, new { style="width: 150px; padding-left:10px;" })
</div>

    <div class="botones" style="width: 350px;">
        <input class="aceptar" style="float: left; margin-left: 0;" type="submit" value=" " />
        <input class="cancelar" style="float: left; margin-left: 10px;" type="button" onclick="refrescar('blog')" value=" " />
    </div>
}
<br />
<br />
@section scripts {
    <script type="text/javascript" src="~/Scripts/Internal/Blog/Anadir.js" async></script>
}