@model UCEME.Models.ItemCurriculum

@{
    ViewBag.Title = "ItemCurriculum";
    var idel = Model.idItem;
}

<div style="border:double;border-color:azure;">
     <div class="display-label">
         @Html.HiddenFor(model => model.idItem)
    </div>

    <div class="display-field" style="float:left;">
        @Html.EditorFor(model => model.Titulo,"StringMed")
    </div>

    &nbsp;
    <div class="display-field" style="float:left;margin-left:15px;">
        @Html.EditorFor(model => model.Fechas,"StringPeque")
    </div>

    <div class="display-field" style="float:left;margin-left:15px;">
        @Html.EditorFor(model => model.Texto,"StringMed")
    </div>
    <div class="iconos" style="float:left;padding-top:5px;">
		<input type="button" style="float:left; width:32px; height:32px;padding:0;margin:0;" id="@idel" onclick="manager.borrarItem(@idel)" class="eliminarico" />
    </div>
    <div style="clear:both;"><br /></div>
</div>