<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="es">
<!--<![endif]-->
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow, archive" />
    <meta name="keywords" content="Endocrinologia, endocrino, cirugia, cirujano, suprarrenal, glandula, adrenal, paratiroides, tiroides, adenoma, feocromocitoma, papilar, folicular, indiferenciado, medular," />
    <meta name="description" content="endocrinologiamadrid, cirugia endocrina, página web de endocrinologia, uceme, Cirujano, experto en cirugia endocrinometabolica" />

    <title>@ViewBag.Title - Unidad de cirugia endocrinometabolica especializada - Madrid</title>
    <link href="~/favicon.png" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")

    @Scripts.RenderFormat("<script src='{0}' ></script>", "~/bundles/jqueryui")
    @Scripts.RenderFormat("<script src='{0}' async></script>", "~/bundles/bootstrapjs")
    @Scripts.RenderFormat("<script src='{0}' async></script>", "~/bundles/jqueryval")

    @Styles.Render("~/Content/jqueryui")

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
</head>
<body itemscope itemtype="http://schema.org/LocalBusiness">
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        <header class="ucemeHeader">
            <div id="header" class="container">
                <div>
                    <div class="col-md-10">
                        <a class="bigLogo" href="/" id="headerLogo">
                            <meta itemprop="image" content="http://www.endocrinologia-madrid.com/Images/ucemelogobl.png">
                        </a>
                        <div class="site-title-div hidden-xs" id="headerTitle">
                            <h1 class="site-title">@Html.ActionLink("Unidad de Cirugía Endocrinometabólica Especializada", "Index", "Home")</h1>
                        </div>
                    </div>
                    <div class="col-md-2 text-center" id="citaPrevia" style="padding-top:15px; padding-bottom:15px;">
                        <button type="submit" onclick="location.href='/Citas/';" class="btn btn-default" style="color:#777;"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Cita previa</button>
                    </div>
                </div>
                <div class="clearboth"></div>
                <nav class="navbar navbar-default" role="navigation" id="headerNavBar">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsable">
                                <span class="sr-only">Cambiar navegacion</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="navbar-collapsable">
                            <ul class="nav navbar-nav">
                                <li class="active">@Html.ActionLink("Inicio", "Index", "Home")</li>
                                <li>@Html.ActionLink("Cartera de Servicios", "Index", "Servicios")</li>
                                <li>@Html.ActionLink("Hospitales", "Index", "Hospitales")</li>
                                <li>@Html.ActionLink("Innovaciones Tecnicas", "Index", "Tecnicas")</li>
                                <li>@Html.ActionLink("Articulos", "Index", "Articulos")</li>
                                <li>@Html.ActionLink("Preguntas Frecuentes", "Index", "Faq")</li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Imagenes", "Index", "Fotos")</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Videos", "Index", "Videos")</li>
                                        <li class="divider"></li>
                                        <li>@Html.ActionLink("Documentos", "Index", "Documentos")</li>
                                    </ul>
                                </li>
                                @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Turnos", "Index", "Turnos")</li>
                        <li>@Html.ActionLink("Lista de Citas", "Index", "ListaCitas")</li>
                        <li>@Html.ActionLink("Gestion de Usuarios", "Index", "GestionUsuarios")</li>
        }
        else
        {
            <li>@Html.ActionLink("Contacto", "Index", "Contacto")</li>
}
                            </ul>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>
        </header>

        <div id="body" class="container content-wrapper main-content clear-fix mainbody">
            @RenderBody()
        </div>

        <footer>
            <div class="container footer-content-wrapper">
                <div class="float-left">
                    <div id="links" class="socialmediafooter">
                        <div class="socialmedia">
                            <a href="http://goo.gl/AY2H7" class="facebook" target="_blank"></a>
                        </div>
                        <div class="socialmedia">
                            <a href="http://goo.gl/rX37S" class="twitter" target="_blank"></a>
                        </div>
                        <div class="socialmedia">
                            <a href="http://goo.gl/MDk9n" class="linkedin" target="_blank"></a>
                        </div>
                        <div class="socialmedia">
                            <a href="https://www.instagram.com/endocrinologiamadrid/" class="instagram" target="_blank"></a>
                        </div>
                    </div>
                    <p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="creditos">
                        &copy; @DateTime.Now.Year - Unidad de Cirugía Endocrinometabólica Especializada. <span itemprop="addressLocality">Madrid</span><br />
                    </p>
                    <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fwww.uceme.es%2F" target="_blank">
                        <img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="65" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics">
                    </a>
                </div>

                @if (!Request.IsAuthenticated)
            {
                    <div class="acadmin">
                        @Html.ActionLink("Acceso Admin", "Login", "Seguridad")
                    </div>
                }

                <div class="acadmin">
                    @Html.ActionLink("Webs Recomendadas", "Index", "PaginaAmiga")
                </div>
                <div class="acadmin">
                    @Html.ActionLink("Desarrollado por", "About", "Home")
                </div>
                <div class="clearboth"></div>
            </div>
        </footer>
        <!-- Placed at the end of the document so the pages load faster -->

        @Scripts.RenderFormat("<script src='{0}' async></script>", "~/bundles/shims")
        @Scripts.RenderFormat("<script src='{0}' async></script>", "~/bundles/modernizr")
        @Scripts.RenderFormat("<script src='{0}'></script>", "~/bundles/shared")
        @RenderSection("scripts", required: false)

        @if (!String.IsNullOrEmpty(@ViewBag.Error))
        {
            var add = "";
            if (!Request.IsAuthenticated)
            {
                add += @ViewBag.Error;
            }

            <script type="text/javascript">
                $(document).ready(function () {
                    var msg = "Se ha producido un error.\n" + "@add";
                    console.log(msg);
                    alert(msg);
                });
            </script>
        }

        @if (@ViewData.ModelState["UcemeError"] != null && !String.IsNullOrEmpty(@ViewData.ModelState["UcemeError"].Errors[0].ErrorMessage))
        {
            var add = "";
            if (!Request.IsAuthenticated)
            {
                add += @ViewData.ModelState["UcemeError"].Errors[0].ErrorMessage;
            }

            <script type="text/javascript">
                $(document).ready(function () {
                    var msg = "Se ha producido un error.\n" + "@add";
                    console.log(msg);
                    alert(msg);
                });
            </script>
        }
</body>
</html>