@model Uceme.Model.Models.ClasesVista.BlogVista

@{
    ViewBag.Title = "BlogVista";
    var divVer = "divVer" + Model.IdBlog;
    var id = Model.IdBlog;
    var imagen = "nada";
    if (Model.Foto != null)
    {
        var srt = Model.Foto;
        imagen = Url.Content(srt);
    }

}
<div id="@divVer" class="row articulobox">
    <div class="pull-left col-xs-4 col-md-3">
        <img src="@imagen" class="img-responsive borderline" alt="imagen" />
        <div class="hojacalendario" style="margin-left: 60px; margin-top: 10px;">
            <div class="date-month">@Model.Strmes</div>
            <div class="date-day">@Model.Dia</div>
            <div class="date-year">@Model.Ano</div>
        </div>
    </div>
    <div class="pull-right col-xs-8 col-md-9">
        <div class="cont">
            <div class="sombra">

                <h3 class="rojito">@Html.DisplayFor(model => model.Titulo)</h3>

                <div class="text-justify topspacer">@Html.Raw(Model.Texto)</div>
                <br />
                <em>Autor: <b>@Html.DisplayFor(model => model.Usuario)</b></em>
                <br />
            </div>
        </div>
        @if (Request.IsAuthenticated)
        {
            <div class="botones" style="width: 350px; ">
                <input type="button" style="float:left;margin-left:20px;" name="editar" id="editar" class="editar" onclick="manager.editarItem(@id)" value=" " />
                <input type="button" style="float:left;margin-left:20px;" id="@id" onclick="manager.borrarItem(@id)" class="eliminar" value=" " />
            </div>
        }
    </div>
    <br />
</div>
<div class="clearboth"></div>
<br />