@model Uceme.Model.Models.ClasesVista.HospitalesVista

@{
    var baja = "baja" + Model.IdHospital;
    var sube = "sube" + Model.IdHospital;
    var barra = "barra" + Model.IdHospital;
    var imagen = "nada";
    if (Model.Foto != null)
    {
        var srt = Model.Foto;
        imagen = Url.Content(srt);
    }

    var idModal = Model.IdHospital + "modalLong";
    var idModalLink = "#" + Model.IdHospital + "modalLong";
}

<div class="cont" style="margin: 0 0 40px;" id="@Model.IdHospital">
    <div class="sombra">
        <div class="hos_ipad hospitalvista">
            <div class="contenedor tecnicasexclusivas" style="border-bottom: solid; border-bottom-color: #780303;">
                <div class="col-md-6 col-sm-12" style="padding-bottom:15px;">
                    <div style="float: left; margin-right: 20px;">
                        <img src="@imagen" style="height:75px;border:1px solid #808080;text-align:center; margin-top: 5px;" alt="imagen" />
                    </div>
                    <div style="float: left; margin-right: 20px; text-align:left;">
                        <h2 class="hos_name">@Model.Nombre</h2>
                    </div>
                    <div style="clear: both"></div>
                </div>

                <div class="col-md-6 col-sm-12" style="padding-bottom:15px;">
                    <div class="col-md-9 col-sm-12" style="color: #777; font-size:1em; font-weight:normal !important;">
                        <div style="text-align:right;margin-top:10px;">
                            <div class="tlfpad display-field" style="margin-bottom: 5px;margin-top: 15px;">
                                @Html.DisplayNameFor(model => model.Telefono) - @Html.DisplayFor(model => model.Telefono)
                            </div>
                            <div class="tlfpad display-field" style="margin-bottom: 5px;">
                                @Html.DisplayNameFor(model => model.Email) - @Html.DisplayFor(model => model.Email)
                            </div>
                            <div class="tlfpad display-field" style="margin-bottom: 5px;">
                                @Html.DisplayNameFor(model => model.Direccion) - @Html.DisplayFor(model => model.Direccion)
                            </div>
                            <div class="tlfpad display-field" style="cursor: pointer; color: darkred;" data-toggle="modal" data-target="@idModalLink">
                                @Html.DisplayName("click para ver el mapa")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <a class="nounderline" href="~/Citas/">
                            <div style="margin: 0 auto;">
                                <img src="~/Images/iCal-icon.png" style="margin-top:15px; height:55px;text-align:center;" alt="cita previa" />
                            </div>
                            <div style="padding-top:10px;float: left; width: 100%; text-align: center;">
                                <span style="color: #777; font-size:1em; font-weight:normal !important;" class="hos_name">Click para reservar cita</span>
                            </div>
                        </a>
                    </div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div>
                <div style="float: none; margin: 0 auto;">
                    @Html.DisplayFor(model => model.Companies)
                    <div style="float: left; margin: 15px; font-weight: bold;">
                        <div>
                            @if (Request.IsAuthenticated)
                            {
                                <div class="botones" style="float: left; margin: 15px;">
                                    <input type="button" name="eliminarHospital" class="eliminar" value=" " style="display:inline;" />
                                    <input type="button" name="editarHospital" class="editar" value=" " style="display:inline;" />
                                </div>
                            }
                            <div style="clear: both">
                            </div>
                        </div>
                        @if (Request.IsAuthenticated)
                        {
                            <div class="botones" style="float: left; margin: 15px;">
                                <input type="button" name="addCompany" class="nuevo" />
                            </div>
                        }
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>

        <div class="modal fade" id="@idModal" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLongTitle">@Html.DisplayFor(model => model.Nombre)</h5>
                    </div>
                    <div class="modal-body">
                        <div style="float: left; margin: 15px;">
                            @Html.Raw(Model.Texto)
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <div style="clear: both"></div>
    </div>
</div>