@model Uceme.Model.Models.ClasesVista.ServicioVista

@{
    Layout = null;
    var idel = Model.IdServicio;
    var imagen = !string.IsNullOrEmpty(Model.Foto) ? Url.Content(Model.Foto) : "";
    var idModal = idel + "modalLong";
    var idModalLink = "#" + idel + "modalLong";
}

    <div class="pull-left col-xs-12 col-ms-6 col-md-3">
        <div class="cont" >
            <div class="sombra" style="height:400px;">
                <div class="pull-left col-xs-12 col-md-12" style="cursor: pointer;">
                    <img src="@imagen" class="img-responsive borderline" alt="imagen" style="height:150px;margin: 0 auto;" href="#modalLong" data-toggle="modal" data-target="@idModalLink"/>
                </div>

                <div class="pull-left col-xs-12 col-md-12">
                    <h3 class="rojito" style="cursor: pointer;" href="#modalLong" data-toggle="modal" data-target="@idModalLink">@Html.DisplayFor(model => model.Nombre)</h3>
                    <div class="text-justify topspacer">@Html.Raw(Model.Cabecera)</div>
                </div>

                <div style="clear:both; position: absolute; bottom: 30px;text-align: right;width: 70%; color: #72beb1;">
                    <a href="#modalLong" data-toggle="modal" data-target="@idModalLink">leer mas...</a>
                </div>

                <div class="modal fade" id="@idModal" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLongTitle">@Html.DisplayFor(model => model.Nombre)</h5>
                            </div>
                            <div class="modal-body">
                                @Html.Raw(Model.Text)
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (Request.IsAuthenticated)
        {
            <div class="botones" style="width: 350px;">
                <input type="button" style="float:left;margin-left:20px;" name="editar" id="editar" class="editar" onclick="servicio.editarServicio(@Model.IdServicio)" value=" " />
                <input type="button" style="float:left;margin-left:20px;" id="@idel" onclick="servicio.eliminarServicio(@idel)" class="eliminar" value=" " />
            </div>
        }
    </div>