@model Uceme.Model.Models.ClasesVista.VideosVista

@{
    ViewBag.Title = "Video";

    var idVideo = Model.IdVideo;
    var titulo = !string.IsNullOrEmpty(Model.Titulo) ? Url.Content(Model.Titulo) : "";
    var descripcion = Model.Descripcion;
    var link = Model.Link;

    var posicion = Model.Posicion;

    var idDivA = "divA" + Model.IdVideo;
    var idDivB = "divB" + Model.IdVideo;

    var idDivM = "divM" + Model.IdVideo;
    var idDivE = "divE" + Model.IdVideo;

    var pos = "p" + Model.IdVideo;
    var idTitulo = "t" + Model.IdVideo;

    var idDescripcion = "desc" + Model.IdVideo;
    var idLink = "l" + Model.IdVideo;
}

<div class="cont" style="float: left; width: 420px; height: 420px; margin: 15px;">
    <div style="width: 420px; height: 420px;" class="sombra">
        @if (Request.IsAuthenticated)
        {
            <div id="@idDivA" class="iconos" style="margin:0;padding: 0; height: 32px; width: 250px">
                <div style="float: left; margin: 0; padding: 0; height: 32px; width: 32px;">
                    <input class="editarico" type="button" onclick="mediaManager.editarFoto(@idVideo)" title="Editar" style="margin: 0; padding: 0; width: 32px; height: 32px" />
                </div>
                <div style="float: left; margin: 0; padding: 0; height: 32px; width: 32px;">
                    <input class="eliminarico" type="button" onclick="mediaManager.eliminarFoto(@idVideo)" title="Editar" style="margin: 0; padding: 0; width: 32px; height: 32px" />
                </div>
            </div>
            <div id="@idDivB" class="iconos" style="display: none; float: right; margin:0;padding: 0; height: 32px; width: 250px">
                <div style="float: left; margin: 0; padding: 0; height: 32px; width: 250px;">
                    Posición:
                    <select name="@pos" id="@pos">
                        @foreach (var p in ViewBag.posiciones)
                        {
                            if (p == @posicion)
                            {
                            <OPTION selected VALUE="@p">@p</option>
                            }
                            else
                            {
                            <OPTION VALUE="@p">@p</option>
                            }
                        }
                    </select>
                    <div style="float: right; margin: 0; padding: 0; height: 32px; width: 32px;">
                        <input class="cancelarico" type="button" onclick="mediaManager.cancelar(@idVideo)" title="Cancelar" style="margin: 0; padding: 0; width: 32px; height: 32px" />
                    </div>
                    <div style="float: right; margin: 0; padding: 0; height: 32px; width: 32px;">
                        <input class="aceptarico" type="button" onclick="mediaManager.aceptar(@idVideo)" title="Aceptar" style="margin: 0; padding: 0; width: 32px; height: 32px" />
                    </div>
                </div>
            </div>
        }

        <div class="display-field">
            <iframe allowfullscreen frameborder="0" height="225" width="400" id="@idLink" src="@link"></iframe>
        </div>

        <div id="@idDivM" style="margin: 3px;">
            <div class="display-field">
                <h3>
                    @Html.DisplayFor(model => model.Titulo)
                </h3>
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Descripcion)
            </div>
        </div>

        <div id="@idDivE" style="display: none; margin: 3px;">
            <div class="display-field">
                <h3>
                    <input type="text" id="@idTitulo" name="@idTitulo" value="@titulo" style="width: 350px" />
                </h3>
            </div>
            <div class="display-field">
                <input type="text" id="@idDescripcion" name="@idDescripcion" value="@descripcion" style="width: 400px" />
            </div>
        </div>
    </div>
</div>