@model Uceme.Model.Models.ClasesVista.HospitalesVista

@{
    Layout = null;
    var srt = Model.Foto;
    var imagen = Url.Content(srt);
}

<h2 class="titulo">Editar Hospital</h2>

@using (Html.BeginForm("EditarHospital", "Hospitales", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.IdHospital, new { id = "datosPro" })

    <div class="editor-label">
        @Html.Label("Fotografia: (preferentemente jpg de 200x150)")
        <img src="@imagen" alt="Logo" height="150" width="200" />
        <br />
        Subir nueva imagen:<br />
        <input type="file" name="fichero" id="fichero" />
        <br />
        @Html.ValidationMessageFor(model => model.Foto)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Nombre)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Nombre)
        @Html.ValidationMessageFor(model => model.Nombre)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Telefono)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Telefono)
        @Html.ValidationMessageFor(model => model.Telefono)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Direccion)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Direccion)
        @Html.ValidationMessageFor(model => model.Direccion)
    </div>

    <div class="editor-label">
        @Html.Label("Texto de Google Maps (225x220)")
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Texto)
    </div>

    <div class="editor-label" id="checks">
        @foreach (Uceme.Model.Models.ClasesVista.CompaniasSelectorVista option in Model.ListaCompanias)
    {
        <input type="checkbox" name="@option.IdCompanias" id="@option.IdCompanias" checked="@option.Checked"/>
        @Html.Label(option.Nombre);
        @*@Html.EditorFor(option)*@
    }
    </div>

    <div class="botones" style="float: left;">
        <input class="aceptar" type="submit" value="" />
    </div>
    <div class="botones" style="float: left;">
        <input class="cancelar" type="button" onclick="refrescar('Hospitales')" value=" " />
    </div>
}

<script src="~/Scripts/Internal/Hospitales/EditarHospital.js"async></script>
