@model UCEME.Models.Companias

@{
    Layout = null;
    var imagen = "nada";
    var idComp = Model.idCompanias;
    if (!string.IsNullOrEmpty(Model.foto))
    {
        var srt = Model.foto;
        imagen = Url.Content(srt);
    }
}

<h2 class="titulo">Editar Compania</h2>

@using (Html.BeginForm("EditarCompania", "Hospitales", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.idCompanias)

    <div class="editor-label">
        @Html.Label("Fotografia: (preferentemente jpg de 200x150)")
        <img src="@imagen" alt="Logo" height="150" width="200" />
        <br />
        Subir nueva imagen:<br />
        <input type="file" name="fichero" id="fichero" />
        <br />
        @Html.ValidationMessageFor(model => model.foto)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.nombre)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.nombre)
        @Html.ValidationMessageFor(model => model.nombre)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.link)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.link)
        @Html.ValidationMessageFor(model => model.link)
    </div>

    <div class="botones" style="float: left;">
        <input class="aceptar" type="submit" value=" " />
    </div>
    <div class="botones" style="float: left;">
        <input class="cancelar" type="button" onclick="refrescar('Hospitales')" value=" " />
    </div>
    <div class="botones" style="float: left;">
        <input class="eliminar" type="button" onclick="eliminarC(@idComp)" value=" " />
    </div>

}